<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="festivalDB" connectionString="URI=file:/Users/tudor/UBB/4_semester/DBMS/database-connections/csharp-connection/music-festivals/festival.db, Version=3"/>
        <add name="music-festivals" connectionString="Database=music-festivals;Data Source=localhost;User id=dev;Password=1234;CharSet=utf8" />
    </connectionStrings>
</configuration>

